body {
    background-image: url("https://www.xtrafondos.com/descargar.php?id=3149&resolucion=2560x1440");
    color: whitesmoke;
    margin-left: 50px;
}

header {
    background-color: blueviolet;
    color: whitesmoke;
}